.wrapper {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../img/bg.png);
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/*==========================================Header======================================*/
.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.header__logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.header__logo:hover {
  color: #3cb878;
}
.header__menu {
  display: flex;
  align-items: center;
  text-align: center;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-item {
  margin-right: 25px;
}
.header__menu-link {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.header__menu-link:hover {
  color: #3cb878;
}
/* .far {
}
.fa-calendar-alt {
}
.fa-envelope-open {
}
.fa-compass {
} */
.header__user-block {
}
.user-block {
}
.user-block__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}
.user-block__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.user-block__link:hover {
  color: #3cb878;
}
/* ==================================Form=========================================== */
.main {
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 53px 0px 72px 0px;
}
.main__form {
  position: relative;
  padding: 31px 60px 38px 60px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main__form::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;

  background: #3cb878;
}
.form {
}
.form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #434343;
}
.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.form__link:hover {
  color: #01813f;
  text-decoration: underline;
}
.form__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.form__social-btn {
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}
.form__social-btn:not(:last-child) {
  margin-right: 4px;
}
.fab {
}
.fa-facebook-f {
  position: relative;
  background: #305db8;
  padding: 12px 22px 12px 17px;
  transition: all 0.3s ease 0s;
}
.fa-facebook-f::before {
  margin-right: 38px;
  font-size: 25px;
}
.fa-facebook-f::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  left: 40px;
  top: 10px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.fa-facebook-f:hover {
  background: #022263;
}
.fa-google-plus-g {
  position: relative;
  background: #df4a32;
  padding: 15px 27px 14px 12px;
  transition: all 0.3s ease 0s;
}
.fa-google-plus-g::before {
  margin-right: 38px;
  font-size: 21px;
}
.fa-google-plus-g::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  left: 40px;
  top: 10px;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.fa-google-plus-g:hover {
  background: #ab1f09;
}
.form__share {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 100%;
  color: #848484;
  margin-bottom: 16px;
}
.form__share::before {
  position: absolute;
  content: "";
  width: 144px;
  height: 1px;
  background: #f2f2f2;
  left: 14px;
  top: 50%;
  margin-top: 2px;
}
.form__share::after {
  position: absolute;
  content: "";
  width: 147px;
  height: 1px;
  background: #f2f2f2;
  right: 14px;
  top: 50%;
  margin-top: 2px;
}
.form__body {
}
.form__list {
}
.fom__item {
  text-align: center;
}
.fom__item:not(:last-child) {
  margin-bottom: 15px;
}
.form__item-input {
  padding: 16px 0px 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #bebebe;
}
.form__item-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.form__item-checkbox {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
}
.form__item-lable {
  font-size: 14px;
  line-height: 100%;
  color: #434343;
}
.form__item-button {
  margin-top: 20px;
  border: none;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  border-radius: 4px;
  background: #3cb878;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.form__item-button:hover {
  background: #01813f;
}
