.wrapper {
  font-family: "Arimo", sans-serif;
}
.container {
  width: 1192px;
  margin: 0 auto;
}
.green {
  background: #89c331;
}
.red {
  background: #f04a56;
}
.dark-green {
  background: #20807c;
}
.light-gray {
  background: #fafafa;
}
.gray {
  background: #f2f2f2;
}
.dark-gray {
  background: #e3e3e3;
}
.black {
  background: #484848;
}

.table {
  border-top: 22px solid #3a4965;
  border-right: 29px solid #3a4965;
  border-bottom: 30px solid #3a4965;
  border-left: 20px solid #3a4965;
}
td {
  text-align: center;
  padding: 28px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  color: #484848;
}
td:not(:last-child) {
  /* border-right: 1px solid #e5e5e5; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.prising__plan {
  padding: 51px 36px 48px 35px;
}
.big-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  /* or 93% */
  text-transform: uppercase;
  color: #484848;
}
.small-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-transform: uppercase;

  color: #484848;
}
.category {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-transform: uppercase;
  color: #ffffff;
}
.category:not(:last-child) {
  border: none;
}
.title {
  position: relative;
  margin: 26px 146px 10px 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
}
.title::before {
  position: absolute;
  content: ".99";
  right: -30px;
  top: 0;
  font-size: 24px;
  line-height: 28px;
}
.title::after {
  position: absolute;
  content: "Per Month";
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  right: -112px;
  top: 19px;
}
.subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
}
.btn {
  position: relative;
  border: none;
  border-radius: 0px 0px 5px 5px;
  padding: 18px 57px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.fas {
  color: #848484;
}
