.wrapper {
  font-family: "Roboto", sans-serif;
  padding: 63px 0px 30px 0px;
}
/* ========================================Container================== */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* ========================================Header================== */
.header {
}
.header__container {
}
.header__logo {
  font-weight: 400;
  font-size: 80px;
  line-height: 117.5%;
  color: #000;
  margin-bottom: 38px;
}
.header__logo span {
  color: #4bcaff;
}
.header__nav {
  background: #35444f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__item {
  transition: all 0.3s ease 0s;
  padding: 26px 32px 19px 32px;
  border-right: 1px solid #fff;
}
.header__item:first-child {
  border-left: 1px solid #fff;
}
.header__item:hover {
  background: #222f3a;
}
.header__link {
  font-size: 24px;
  line-height: 117%;
  color: #ffffff;
}
/* ========================================Main================== */
.main {
}

.main__container {
  padding: 48px 0px 54px 0px;
  display: flex;
}
.main__sidebar {
}
.main__list {
  margin-right: 52px;
  width: 334px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.main__item {
}
.main__link {
  padding: 25px 0px 25px 44px;
  display: block;
  font-weight: 400;
  font-size: 27px;
  line-height: 100%;
  color: #485863;
}
.main__link:hover {
  padding-left: 65px;
  background: #dbdbdb;
  color: #35444f;
}
.main__body {
}
.main__img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #000000;
  padding: 75px 0;
}
.main__text {
  padding-top: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2c2c2c;
}
/* ========================================Footer================== */
.footer {
}
.footer__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  padding: 20px 40px;
}
.footer__nav {
}
.footer__list {
  display: flex;
}
.footer__item {
}
.footer__item:not(:last-child) {
  padding-right: 20px;
}
.footer__link {
  position: relative;
  font-size: 28px;
  line-height: 100%;
  color: #0c1927;
}
.footer__link:hover {
  color: #3181a6;
}
.footer__link:hover::before {
  position: absolute;
  content: "";
  width: 110%;
  border-bottom: 1px solid #3181a6;
  left: 0;
  bottom: -13px;
}
.footer__title {
  font-size: 24px;
  line-height: 100%;
  color: #010101;
}
