.wrapper {
  font-family: "Arimo", sans-serif;
}
.container {
  width: 1192px;
  margin: 0 auto;
  padding: 50px;
}
.green {
  background: #89c331;
}
.red {
  background: #f04a56;
}
.dark-green {
  background: #20807c;
}
.light-gray {
  background: #fafafa;
}
.gray {
  background: #f2f2f2;
}
.dark-gray {
  background: #e3e3e3;
}
.black {
  background: #484848;
}
a {
  text-decoration: none;
}
/* =================================================table============================================== */
.table {
  background: #3a4965;
  border-top: 27px solid #3a4965;
  border-right: 29px solid #3a4965;
  border-bottom: 21px solid #3a4965;
  border-left: 25px solid #3a4965;
}
.column {
}
.column-top {
}
.columg-tr {
  height: 10px;
}
.row {
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;

  color: #484848;
}
.row::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  /* background: #4f4f4f; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  left: 0;
  bottom: 0;
}
.row-top {
  min-width: 201px;
}
.small-text {
  padding-top: 26px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #484848;
}
.avarage-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #484848;
  /* padding: 0px 26px 34px 30px; */
  margin: 0px 26px 0px 30px;
}
.category {
  min-width: 160px;
  padding-bottom: 26px;
}
.fas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  line-height: 171%;
  text-transform: uppercase;

  color: #848484;
}
/* .fa-archive {
}
.fa-cloud-upload-alt {
}
.fa-envelope {
}
.fa-life-ring {
}
.fa-cube {
}
.fa-users {
} */
.row-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 22px 21px 21px;
}
.row-content__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}
.row-content__subtitle {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 78%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
}
.row-content__subtitle::before {
  position: absolute;
  content: ".99";
  left: 40px;
  top: -9px;
  font-size: 18px;
  line-height: 156%;
}
.row-content__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  margin-left: 30px;
  color: #ffffff;
}
.row-button {
  padding: 8px 0;
  min-width: 147px;
  border-radius: 4px;
  border: none;
  background: #414141;
}
.row-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  text-transform: uppercase;
  color: #ffffff;
}
.row-title {
  margin-top: 63px;
}
.row-text {
}
